/* ========== Common Css Start =========== */
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* ========== Common Css End =========== */

/* ========== Nav Section Css Start =========== */
#primary_nav{
    background-color: #02918c;
}
#primary_nav #menu ul li a{
    font-size:12px;
    font-weight:800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 26px 25px;
    display: inline-block;
}


/* ========== Nav Section  Css End =========== */